
@media screen and (max-width: 700px) {
    .side-bar-links a *,
    .side-bar-links > li > a {
        font-size: .7rem !important;    
    }
    .side-bar-links > li > ul > li a {
        font-size: .67rem !important;    

    } */
    .side-bar-links-container > ul{
        margin: 0;
        margin-left: 15% !important;
    }
    .side-bar-links-container> ul >li >ul{
        margin-left: 8% !important;
    }
    
    .step-content p {
        font-size: 75%;   
    }
    .step-vid>video,
    .step-img>img {
        max-height: 250px;
        max-width: 300px ;
    }
    .side-bar-links>li {
        margin-bottom: 20%;
    }
    .side-bar-links {
        margin-top: 50% !important;
    }
    ul.side-bar-links>li {
        margin-bottom: 10% !important;
    }

    ul.side-bar-links>li {
        margin-bottom: 10% !important;
        margin-top: 25% !important;
    }
    
}


@media screen and (max-width: 641px) {
    :root {
            --sidebar-width: 120px !important;
    
    }
    .content-boxes {
        display: flex;
        flex-direction: column;
    }
    
}
@media screen and (max-width: 519px) {
    :root {
            --sidebar-width: 100px !important;
    
        }
    .step-float > .step-txt>p:first-of-type{
        padding-top: 10% !important;
        padding-left: 2%;
    }
    ul.side-bar-links > li {
        margin-bottom: 10% !important;
    }   
    ul.side-bar-links > li {
        margin-bottom: 10% !important;
        margin-top: 25% !important;
    }   
}